VITE_SUPABASE_URL=https://fgiusxlylytdsemhzcfc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnaXVzeGx5bHl0ZHNlbWh6Y2ZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5ODIwMjMsImV4cCI6MjA4NjU1ODAyM30.Mk5YjRowmjsS2RFpKedRffn-5bzcTBpEixr2woezS9s
